@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap");
*{
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    float: left;
}
.rub {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    float: left;
    text-align: center;
    font-size: 70px;
    margin: 0 5px;
}
.res {
    width:  340px;
    padding: 20px 10px;
    border: 1px solid steelblue;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    display: block;
}
.res span {
    color: red;
    text-shadow: 2px 2px 2px rgb(251, 255, 0);
}
.putPt {
    display: inline-block;
    float: left;
    padding: 5px 10px;
    border: 1px solid rgb(0, 109, 58);
    border-radius: 5px;
    color: darkgreen;
    background-color: rgb(220, 255, 196);
    margin: 0 5px;
    transition: all .3s;
}
.putPt:hover {
    background-color: rgb(0, 70, 21);
    color: #fff;
}
.putPtX{
    display: inline-block;
    float: left;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: #ffd793;
    margin: 0 5px;
    transition: all .3s;
}
.putPtX:hover {
    background-color: rgb(231, 123, 0);
}
.roll{
    float: left;
    padding: 5px 10px;
    border: 1px solid rgb(109, 0, 18);
    border-radius: 5px;
    color: rgb(100, 0, 0);
    background-color: rgb(255, 196, 216);
    margin: 0 5px;
    transition: all .3s;
}
.roll:hover{
    background-color: rgb(70, 0, 4);
    color: #fff;
}
.point{
    font-size: 40px;
}
.point span {
    color: darkgreen;
}
.putPt .tipBox {
    visibility: hidden;
    position: absolute;
    background-color: #3C4EA8;   
    color: white;
    font-size: 15px;
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 1s;
    margin-left: 20px;
}
.putPt:hover .tipBox{
    visibility: visible;
    opacity: 90%;
}
.putPt:hover .tipBox::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 0%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #3C4EA8 transparent transparent transparent;
}
.statusBox{
    width: 300px;
    padding: 10px 20px;
    background-color: aquamarine;
}
#status{
    visibility: hidden;
}